/*
 * CSS customizado para o template dark
 */
 
.modal-backdrop {
	background-color: #292c35;
}

/* Chart Icons */
.cIcon {
  color: #ffffff;
  fill: #ffffff;
}
.cIcon:hover {
  background-color: #8391a0;
}
.chartIcons .active {
	background: #5089de;
}

/* HelpNewChart */
.helpNewChart span {
	color: #ccc;
}
.iconHelpNewChart {
	color: #777 !important;
}
.cardBoxHelpNewChart { 
	border: 2px dashed rgba(255,255,255,.2);
}

.boxChart .chartOptions {
    background: rgba(50,58,70,.8);
}

/* fix heatmap in darkmode tooltip trace */
[data-charttype="HEATMAP"] .hoverlayer .hovertext rect {
	fill: rgba(255, 255, 255, 0.8) !important;
}