html, body, #map {
    display:block;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#progress {
	position: absolute;
	top: 0;
	left: 0;
	/* height: 5px; */
	height: 3px;
	/* background: rgba(0, 60, 136, 0.7); */
	background: rgba(92, 144, 210, 0.8);
	width: 0;
	transition: width 250ms;
}

/* OL CONTROLS */
.ol-control {
	background-color: initial !important;
}
.ol-control:hover {
	background-color: initial !important;
}
.ol-control button { 
	font-size: 1.35em;
	color: rgba(40, 40, 40, 0.8) !important;
	background-color: rgba(255, 255, 255, 1) !important;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	border-radius: 2px;
}
.ol-control button:hover { 
    color: rgba(40, 40, 40, 1) !important;
    background-color: rgba(240, 240, 240, 1) !important;
}
.ol-control button:focus { 
	outline: 0 !important;
}



	.sliderDiv .slider {
		margin-right: 10px;
	}
	div.pv-timeslider {
		border: 1px solid #ddd;
	}
	div.pv-timeslider .button {
		text-indent: 7px;
		line-height: 40px;
		font-size: 16px;
		background: #fff;
		color: #999;
	}
	div.pv-timeslider .button:hover {
		color: #666;
	}
	div.pv-timeslider .button .fa-pause {
		display: none;
	}
	div.pv-timeslider .button.stop .fa-play {
		display: none;
	}
	div.pv-timeslider .button.stop .fa-pause {
		display: inline-block;
	}
	div.pv-timeslider .button.loop {
		color: #397DBA;
	}
	div.pv-timeslider .button.rec {
		color: #E15759;
		padding-left: 3px;
	}
	div.pv-timeslider .button.stopsave {
		padding-left: 3px;
	}
	div.pv-timeslider .button.save {
		color: #397DBA;
		padding-left: 3px;
	}
	div.pv-timeslider .dropdown-lg.open .button .fa-gear {
		color: #397DBA;
	}
	div.pv-timeslider .dropdown-backdrop {
		display: none;
	}
	div.pv-timeslider .dropdown-menu-right {
		top: auto;
		bottom: 100%;
		box-shadow: none;
		border-radius: 0px;
		right: 0px;
		-webkit-box-shadow: rgba(0,0,0,.2) 4px 0 5px -2px;
			    box-shadow: rgba(0,0,0,.2) 4px 0 5px -2px;
	}
	
	.dropdown.dropdown-lg .dropdown-menu {
		padding: 4px 15px 10px 15px;
		margin-bottom: 0px;
		margin-right: -1px;
	}
	.btn-group .btn {
		border-radius: 0;
		margin-left: -1px;
	}
	div.pv-timeslider .form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}
	div.pv-timeslider .form-horizontal {
		line-height: initial;
	}
	div.pv-timeslider .form-horizontal .form-group {
	    padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #f3f3f3;
	}	
	@media screen and (min-width: 768px) {
		.dropdown.dropdown-lg {
			position: static !important;
		}
		.dropdown.dropdown-lg .dropdown-menu {
			min-width: 250px;
		}
	}
	
	div.pv-timeslider ::selection {
	  background: #fff;
	}
	
	aside {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	div.pv-timeslider .button.rec:hover {
		color: #FFF;
		background: #E15759;
	}
	div.pv-timeslider .button.stopsave:hover {
		color: #fff;
		background: #999;
	}
	div.pv-timeslider .button.save:hover {
		color: #fff;
		background: #397DBA;
	}
	div.pv-timeslider .infoRec.rec {
		font-weight: 700;
		color: #E15759;
	}

	
	.block-opt-hidden .slimScrollDiv {
		display: none;
	}
	
	
	
	.full-map.diagram {
		background: url(bg_w.jpg) repeat;
	}
	.map.block.block-opt-refresh:before {
		opacity: 1;
		background: whitesmoke;
	}
	.map.block.block-opt-refresh:after {
		font-size: 25px;
		color: #000;
	}
	
	/* novo layout */
	.block-header {
		padding: 10px 20px;
	}
	.side-header {
		min-height: 50px;
	}
	.block-content.block-content-full {
		padding-top: 5px;
	}
	
	
	/* buttons */
	.tools-button {
		top: 80px;
		left: .5em;
	}
	.tools-button .fa {
		font-size: 14px;
	}
	.ol-zoom, .tools-button,.pv-capture
	{
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}
	.side-overlay-o .ol-zoom,
	.side-overlay-o .tools-button
	{
		left: 341px !important;
	}
	.side-overlay-o .pv-capture
	{
		left: 344px !important;
	}

	.toggle-button {       top:  70px; }
	.search-bus-button {   top: 105px; }
	.diagram-mode-button { top: 140px; }
	
	.diagram .diagram-mode-button button { 
		background: #397DBA !important;
	}
	.diagram .diagram-mode-button i { 
		color: #FFF;
	}
	.diagram-mode-button i { color: #397DBA; }
	
	#map {
	    top: 0px;
	}
	body {
		overflow: hidden;
	}
	.autocomplete-suggestions
	{
		padding: 6px 12px;
		text-align: left;
		cursor: default;
		border: 1px solid #ccc;
		border-top: 0;
		background: #fff;
		box-shadow: -1px 1px 3px rgba(0,0,0,.1);
		position: absolute;
		display: none;
		z-index: 9999;
		max-height: 254px;
		overflow: hidden;
		overflow-y: auto;
		box-sizing: border-box;
	}
	.autocomplete-suggestion.selected {
		background: #f0f0f0;
	}
	
	
	.bg-gray-lighter {
		background-color: #eaeaea;
	}
	.block-content.infobox {
		padding: 5px 10px 5px;
    	overflow-y: scroll;
	}
	.switch input + span {
		background-color: #ddd;
	}
	
	.ui-resizable { position: relative;}
	.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
	.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
	.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
	.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
	.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
	.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
	.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
	.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
	.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
	.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
	
	
	
	.table-condensed > thead > tr > th, 
	.table-condensed > tbody > tr > td, 
	.table-condensed > tfoot > tr > td {
	    line-height: 1.2;
		vertical-align: middle;
		font-size: 13px;
		white-space: nowrap;
	}
	
	.table-condensed > thead > tr > th .css-checkbox.css-checkbox-sm, 
	.table-condensed > tbody > tr > td .css-checkbox.css-checkbox-sm, 
	.table-condensed > tfoot > tr > td .css-checkbox.css-checkbox-sm {
		margin: 0px;
		padding-left: 3px;
	}
	.ol-scale-line {
		background: rgba(255, 255, 255, 0.85);
	}
	.ol-scale-line-inner {
		border: 1px solid #535353;
		border-top: none;
		color: #535353;
	}
	
	.table-results,.table-agents {
	    	border-bottom-color: gainsboro;
    	    border-bottom-width: 1px;
    	    border-bottom-style: solid;
	}

	.pv-result-table {
		table-layout: fixed;
	}
	.pv-result-table td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.dropdown-colorselector .dropdown-menu {
		z-index: 9999;
	}
	
	.table-hover > tbody > tr.info:hover > td  {
	    background-color: #c8d9f0;
	}
	.table-hover > tbody > tr.info > td  {
	    background-color: #d7e4f4;
	}
	
	.ol-scale-line {
		bottom: 60px;
		right: 10px;
		left: initial;
	}

	.tooltip {
		display: none;
	}	
	.tooltip.in {
		display: block;
	}
	.tooltip.in :hover {
		display: none;
	}
	.bootstrap-select.btn-group .dropdown-menu li a span.text, 
	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		font-weight: initial;
		font-size: 12px;
	}
	.bootstrap-select .dropdown-toggle:focus {
		outline: none !important;
	}
	
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	   opacity: 1;
	}
	
	.css-radio.css-radio-sm {
		font-size: 13px;
	}
	
	.darkMode {
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}
	
	.darkMode .bg-primary-dark,
	.darkMode .gameHardBox .block-content {
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}
	
	
/* ColorPref  -->  */
.input-color-picker {
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
}
.colorList .sp-dd {
	display: none;
}
.sp-light .sp-choose {
    color: #fff !important;
    background-color: #5c90d2 !important;
    border-color: #3675c5 !important;
}
.sp-light .sp-cancel {
    color: #545454 !important;
    background-color: #f5f5f5 !important;
    border-color: #e9e9e9 !important;
}
.activeBtn {
	color: #397DBA !important;
}
.textRed {
	color: #d26a5c !important;
}
.textBlue {
	color: #397DBA !important;
}
.colorList .sp-replacer {
    height: 24px;
    width: 24px;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #bbb;
}
.colorList {
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
    margin-right: -10px;
}
.divReadonly {
	pointer-events: none;
    opacity: 0.4;
    background: rgb(232, 232, 232);
	display: none;
}
.colorList thead, .colorList tbody, .colorList2 tr, .colorList2 th, .colorList2 td { display: block; }
.colorList thead tr {
	width: calc(100% - 17px);
}
.colorList thead  {
	margin-top: -10px;
}
.colorList thead tr th {
	padding: 0;
	padding-bottom: 5px;
}
.colorList2 thead th {
	margin: 0;
	padding: 0;
}
.colorList tr {
	width: 100%;
	display: table;
}
.colorList tbody {
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
.colorList2 tbody td, .colorList2 thead th {
	width: 25%;  /* 19% is less than (100% / 5 cols) = 20% */
	float: left;
}
.colorList input::-webkit-outer-spin-button,
.colorList input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mt-10 {
	margin-top: -10px;
}
/* ColorPref  <--  */