div.pv-timeslider {
    left:10px!important;
    right:10px!important;
    position: absolute;
    display: inline-block;
    width: auto!important;
    margin-bottom: 10px;
    padding: 0;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999;
    text-align: left;
    z-index: 105
}
	  

div.pv-timeslider ul {
    display: block;
    height: 40px;
    margin: 0;
    padding: 0;
    line-height: 40px;
    list-style: none;
    cursor: default
}

div.pv-timeslider ul li {
    display: inline-block;
    zoom:1;*display: inline;
    vertical-align: top;
    height: 40px;
    _height: 40px;
    width: auto;
    line-height: 40px;
    border-right: 1px solid #E5E5E5
}

div.pv-timeslider ul li.last {
    border-right: 0
}

div.pv-timeslider .button {
    display: block;
    width: 48px;
    height: 40px;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    background: url(img/slider.png) no-repeat -2px -55px
}

div.pv-timeslider .button:hover {
    background-position: -42px -55px
}

div.pv-timeslider .button.stop {
    background-position: -2px -4px
}

div.pv-timeslider .button.stop:hover {
    background-position: -42px -4px
}

div.pv-timeslider p {
    width: 120px;
    height: 40px;
    margin: 0;
    padding: 0 5px 0 0;
    line-height: 40px;
    font-size: 13px;
    font-weight: 700;
    font-family: Helvetica,Arial;
    text-align: center;
    color: #999
}

.slider-selection {
	background: #397DBA !important;
}

.slider.slider-horizontal .slider-track
{
	height: 4px;
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -2px;
}

.sliderDiv {
    margin-top: 2px;
	margin-left: 15px;
}
.slider-handle {
    top: 1px;
    width: 15px;
    height: 15px;
}
/* customise timeslider */